## Importación libreria

In [32]:

import pandas as pd

## Comprobación entorno
Terminal, Kernel y notebook mismo entorno

In [33]:
import sys, os
print(sys.executable)          
print(os.environ.get("VIRTUAL_ENV"))

c:\Users\Propietario\Desktop\PROYECTO PYTHON FOR DATA\PROYECTO_EDA_PYTHON\.venv\Scripts\python.exe
C:\Users\Propietario\desktop\PROYECTO PYTHON FOR DATA\PROYECTO_EDA_PYTHON\.venv

## Carga de datos

In [34]:
df_customer = pd.read_excel("../Data/Raw/customer-details.xlsx")

Uno todas las hojas del Excell

In [35]:
df_customer = pd.concat(
    pd.read_excel("../Data/Raw/customer-details.xlsx", sheet_name=None).values(),
    ignore_index=True
)

In [36]:
df_customer. sample(10)

,Unnamed: 0,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,ID
6328,6328,25576,0,2,2012-06-09,12,2ce433e2-89ea-49fe-b209-55f990da2d9d
13965,13965,58856,0,0,2012-01-02,7,73701838-28c4-42ce-be65-194d8e0d228e
39854,10774,108432,0,2,2014-04-27,22,871a4871-73ba-42a7-9f40-a00e0dd1aa78
22414,2299,78907,2,1,2013-04-10,25,06d4ece9-3e5f-4101-8f1f-de3aeb266159
17719,17719,105129,1,2,2012-03-19,23,91fecc2f-ba56-45e2-a5a9-b147d46db039
9695,9695,7450,0,0,2012-05-24,28,1babec03-e4bd-44fd-bb85-e6541c568f1b
24125,4010,132747,1,2,2013-02-19,8,d3eda1dd-257f-4122-91fa-2d92932c28b2
17024,17024,169517,0,0,2012-04-13,3,5cc6c31f-0221-483b-adb2-f9a5f93af00f
7629,7629,29858,1,0,2012-04-05,27,c6cf079f-636e-4d33-a6de-a3c06dd2f692
18183,18183,14313,1,2,2012-06-03,8,493e9cc9-33b4-439c-b61f-a447954fe5c3

In [39]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43170 entries, 0 to 43169
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         43170 non-null  int64
 1   Income             43170 non-null  int64
 2   Kidhome            43170 non-null  int64
 3   Teenhome           43170 non-null  int64
 4   Dt_Customer        43170 non-null  datetime64[ns]
 5   NumWebVisitsMonth  43170 non-null  int64
 6   ID                 43170 non-null  object
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 2.3+ MB

In [37]:
df_bank = pd.read_csv("../Data/Raw/bank-additional.csv")

In [38]:
df_bank. sample(10)

,Unnamed: 0,age,job,marital,education,default,housing,loan,contact,duration,...,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_
20529,20626,45.0,blue-collar,MARRIED,high.school,NaN,1.0,0.0,cellular,969,...,1.4,"93,444","-36,1","4,965","5228,1",yes,17-febrero-2016,48.830,-100.866,02010124-ea73-4088-b97c-c2ab62aeda5e
42898,32707,30.0,blue-collar,MARRIED,basic.9y,0.0,0.0,1.0,cellular,116,...,-1.8,"92,893","-46,2","1,299","5099,1",no,4-junio-2016,32.225,-83.710,83c20953-127f-484c-8fce-ac73ed1735d7
9630,9727,25.0,technician,SINGLE,university.degree,0.0,0.0,0.0,telephone,92,...,1.4,"94,465","-41,8","4,961","5228,1",no,15-julio-2019,39.624,-99.760,67fdb054-ee2b-4393-af85-3fa981bfc145
23405,23502,41.0,admin.,MARRIED,university.degree,0.0,0.0,0.0,cellular,67,...,1.4,"93,444","-36,1","4,962","5228,1",no,8-agosto-2018,41.471,-102.204,af8c7f7e-1433-47e4-9029-990651bbb42b
30869,31013,37.0,blue-collar,MARRIED,basic.6y,0.0,0.0,0.0,cellular,1085,...,-1.8,"92,893","-46,2","1,344","5099,1",yes,2-septiembre-2017,24.421,-87.973,4bb8011b-99f9-4e41-b2e3-27880975fed9
19480,19577,59.0,retired,MARRIED,high.school,0.0,NaN,NaN,telephone,204,...,1.4,"93,444","-36,1","4,968","5228,1",no,26-diciembre-2019,30.827,-92.063,f4c44564-b984-414a-a9ec-c4bb7f34ba97
11107,11204,42.0,unemployed,MARRIED,high.school,NaN,1.0,0.0,telephone,106,...,1.4,"94,465","-41,8","4,961","5228,1",no,16-febrero-2019,39.167,-107.160,4223af82-29c1-4419-8c4b-8fe4a69bf562
17803,17900,31.0,blue-collar,SINGLE,professional.course,0.0,0.0,1.0,cellular,171,...,1.4,"93,918","-42,7","4,961","5228,1",no,14-marzo-2017,31.268,-70.670,4801ec8e-6fe0-4899-ab49-28f0ae0fceb0
271,287,37.0,admin.,SINGLE,high.school,0.0,1.0,1.0,telephone,56,...,1.1,"93,994","-36,4","4,857",5191,no,12-julio-2019,36.596,-99.274,572291a1-1911-454b-8296-c002542a40c7
31767,31911,NaN,entrepreneur,DIVORCED,basic.6y,0.0,0.0,0.0,cellular,422,...,-1.8,"92,893","-46,2","1,327","5099,1",no,8-agosto-2019,44.255,-122.534,146d62ea-366e-40ca-b2c3-5cd362ea748e

In [40]:
df_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43000 entries, 0 to 42999
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      43000 non-null  int64
 1   age             37880 non-null  float64
 2   job             42655 non-null  object
 3   marital         42915 non-null  object
 4   education       41193 non-null  object
 5   default         34019 non-null  float64
 6   housing         41974 non-null  float64
 7   loan            41974 non-null  float64
 8   contact         43000 non-null  object
 9   duration        43000 non-null  int64
 10  campaign        43000 non-null  int64
 11  pdays           43000 non-null  int64
 12  previous        43000 non-null  int64
 13  poutcome        43000 non-null  object
 14  emp.var.rate    43000 non-null  float64
 15  cons.price.idx  42529 non-null  object
 16  cons.conf.idx   43000 non-null  object
 17  euribor3m       33744 non-null  object
 18  nr.employed     43000 non-null  object
 19  y               43000 non-null  object
 20  date            42752 non-null  object
 21  latitude        43000 non-null  float64
 22  longitude       43000 non-null  float64
 23  id_             43000 non-null  object
dtypes: float64(7), int64(5), object(12)
memory usage: 7.9+ MB